<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre Mí</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>

    <nav class="navbar">
        <ul>
            <li><a href="{{ url_for('index') }}">Inicio</a></li>
            <li><a href="{{ url_for('sobre_mi') }}">Sobre Mí</a></li>
            <li><a href="{{ url_for('proyectos') }}">Proyectos</a></li>
            <li><a href="{{ url_for('curriculum') }}">Currículum</a></li>
            <li><a href="{{ url_for('contacto') }}">Contacto</a></li>
        </ul>
    </nav>

    <section class="hero">
        <h1>Sobre Mí</h1>
        <p> Soy un estudiante en el campo de la informática con gran
 motivación y ganas de aprender. Me caracterizo por ser una
 persona motivada, proactiva y con una rápida capacidad de
 aprendizaje. Además, tengo un fuerte compromiso y una gran
 adaptabilidad a diferentes entornos y desafíos. Estoy buscando
 mi primera oportunidad para aplicar mis conocimientos en un
 entorno profesional y contribuir con soluciones innovadoras..</p>
    </section>

    <footer>
        <p>© 2025 Mi Portfolio - Todos los derechos reservados</p>
    </footer>

</body>
</html>
